* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'tahoma';
}

body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
}

.content {
    width: 700px;
    margin: auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.titulo-cadastro {
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
}

fieldset {
    padding: 10px;
    margin-bottom: 10px;
}
.rua {
    width: 400px;
}

.complemento {
    width: 100px;
}

form {
    padding: 10px;
    width: 700px;
    
}

input {
    background-color: rgb(233, 232, 232);
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
}

legend {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

label {
    color: white;
    font-size: 15px;
}

fieldset {
    border: 1.5px solid white;
    border-radius: 4px;
}

select {
    color: #bebebe;
    border: 1.5px solid white;
    border-radius: 4px;
}

.button {
    position: relative;
    float: right;
    background-color: rgba(148,187,233,1);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    transition: 1s;
  }

  .button:hover {
    background-color: rgb(176, 203, 234);
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }